.selectedPage {
  font-weight: 400;
  color: rgb(0, 162, 255);
}

.paginationP {
  display: flex;
  gap: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  color: aliceblue

}

.pagination {
  position: sticky;
  top: 0px;
  background-color: #222222;
}