.login_wrapper {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  padding-top: 10px;
}

.signUpBtn {
    margin-left: 5px;
}

.loginBtn,
.signUpBtn {
  padding: 5px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid aliceblue;
  color: aliceblue;
  background-color: #222222;
  cursor: pointer;
}

.loginBtn:hover,
.signUpBtn:hover {
  transition: 0.3s ease-in;
  color: #222222;
  background-color: aliceblue;
}

.textLogin {
  padding-top: 5px;
}


.checkbox {
  padding-top: 5px;
  display: flex;
  gap: 5px;
}
.inputCheckbox {
  margin: 0;
}

.login {
  margin: 5px;
}


.textLogin input {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
  width: 165px;
  text-align: center;
  background-color: #222222;
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
  margin-right: 5px;
  resize: none;
}
